version: '3'
services:

  mongodb:
    container_name: quiz.mongo
    image: percona/percona-server-mongodb:3.4
    volumes:
     - ./data/mongo:/data/db
    networks:
     - quiz

  quiz:
    container_name: quiz.server
    image: planez.co:5000/wcfc-quiz:{VERSION}
    depends_on:
     - mongodb
    volumes:
     - ./data:/data
     - /var/log/wcfc:/log
     - /var/www/quiz.wingsofcarolina.org/images:/images
    environment:
     - MODE="PROD"
     - MONGODB="mongodb:27017"
    ports:
     - "9314:9314"
    networks:
     - quiz

networks:
  quiz:
