<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="/static/quiz-style.css">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body>
<#setting number_format="#0"/>

<div class="center">
	<div class="title">Wings of Carolina Flying Club</div>
	<div class="subtitle">${quizName} Written Test Key</div>
	<div class="subtitle">For Quiz ID - ${quizId}</div>
</div>
<hr>

<div>
<#list questions as question>
<b>${question.index}</b> : ${question.getQuestionAsHtml()} 
	<i>{ <a href="http:/question/${question.questionId}">${question.questionId}</a> }</i></br>
&nbsp;&nbsp;&nbsp;
<i>{ ${question.category}&nbsp;/&nbsp;
<#list question.attributes as attribute>
${attribute}&nbsp;
</#list>
}</i></p>

<#list question.answers as answer>
<#if question.isFillInTheBlank()>
${answer.index} : ${answer.answer}</br>
<#else>
<#if answer.isCorrect()>
<strong>${answer.index}</strong> : ${answer.getAnswerAsHtml()}</br>
<#else>
${answer.index} : ${answer.answer}</br>
</#if>
</#if>
</#list>
</p>
<b>References :</b> ${question.references}</p>
<b>CFI Discussion :</b> </br>
${question.getDiscussionAsHtml()}</p>
<hr>
</#list>
</div>
</body>
</html>