<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="/static/quiz-style.css">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body>
<#setting number_format="#0"/>
<#assign seq = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L" ]>

<div class="heading">
    <div id="logo"></div>
	<div class="center">
		<div class="title">${quizName} Written Test Key</div>
		<div class="subtitle">For Quiz ID - ${quizId}</div>
	</div>
</div>
<hr>

<div>
<#list questions as question>
<b>${question.index}</b> : ${question.getQuestionAsHtml()} 
	<i>(${question.questionId})</i></br>
<p>
<#assign index = 0>
<#if question.answers??>
	<#list question.answers as answer>
		<#if question.isFillInTheBlank()>
			${seq[index]} : ${answer.answer}</br>
		<#else>
			<#if answer.isCorrect()>
				<strong>${seq[index]}</strong> : ${answer.getAnswerAsHtml()}</br>
			<#else>
				${seq[index]} : ${answer.answer}</br>
			</#if>
		</#if>
		<#assign index=index+1>
	</#list>
<#else>
	<strong>There are no answers to this question! Please fix ASAP!</strong>
</#if>
</p>

<#if ! question.isFillInTheBlank()>
<#assign index = 0>
<#if question.answers??>
<#list question.answers as answer>
<#if answer.isCorrect()>
Correct Answer is : <strong>${seq[index]}</strong></br>
</#if>
<#assign index=index+1>
</#list>
</p>
</#if>
</#if>

<b>References :</b></br>
${question.getReferencesAsHtml()}</p>
<b>CFI Discussion :</b> </br>
${question.getDiscussionAsHtml()}</p>

<i>{ ${question.category}&nbsp;/&nbsp;
<#list question.attributes as attribute>
<#if attribute??>
${attribute}&nbsp;
</#if>
</#list>
}</i></p>
<hr>
</#list>
</div>
</body>
</html>