<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="/static/quiz-style.css">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body>
<#setting number_format="#0"/>

<div class="center">
	<div class="title">Wings of Carolina Flying Club</div>
	<div class="subtitle">${quizName} Written Test</div>
	<div class="subtitle">Quiz ID - ${quizId}&nbsp;|&nbsp;Review before - ${sunsetDate?string('dd.MM.yyyy')}</div>
	<hr>
	<div class="container">
    	<div class="contents">
    	Pilot _____________________________</br>
    	&nbsp;</br>
    	Instructor ________________________
    	</div>
    	<div class="contents">
    	Score ____________________________</br>
    	&nbsp;</br>
    	Date _____________________________
		</div>
	</div>
</div>

<div>
	<div class="instruction">
	<b>Instructor</b>: Please note the final score (subtract ${pointsPerQuestion()?string(",##0.00")} points from 100 for each wrong answer) on the checkout
	form and file the quiz in the Pilot Records folder.
	</div>
	<div class="instruction">
	<b>Pilot</b>: Information required to correctly answer the following questions may be found in FAR Parts 61 and 91,
	the WCFC SOPs, and club checklists, documents and instructional practices.
	</div> 
</div> 
<hr>

<div>
<#list questions as question>
${question.index} : ${question.getQuestionAsHtml()}
	<i>{ <a href="http:/question/${question.questionId}">${question.questionId}</a> }</i></br>
&nbsp;&nbsp;&nbsp;
<i>{ ${question.category}&nbsp;/&nbsp;
<#list question.attributes as attribute>
${attribute}&nbsp;
</#list>
}</i></p>

<#list question.answers as answer>
<#if question.isFillInTheBlank()>
${answer.index} : __________________________________________________________________</br>
<#else>
${answer.index} : ${answer.answer}</br>
</#if>
</#list>
</p>&nbsp;</p>
</#list>
</div>
</body>
</html>