<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="/static/common.css">
</head>
<body>
<#setting number_format="#0">

<div class="center">
<h1>Wings of Carolina Flying Club<h1>
<h2>${quizName} Written Test</h2>
<h3>Quiz ID [${quizId}]</h3>
</div>

<hr>

<div>
<#list questions as question>
${question.index} : ${question.question}
	<i>{ <a href="http:/question/${question.questionId}">${question.questionId}</a> }</i></br>
&nbsp;&nbsp;&nbsp;
<i>{ ${question.category}&nbsp;/&nbsp;
<#list question.attributes as attribute>
${attribute}&nbsp;
</#list>
}</i></p>

<#list question.answers as answer>
<#if question.isFillInTheBlank()>
${answer.index} : __________________________________________________________________</br>
<#else>
<#if answer.isCorrect()>
<b>${answer.index} : ${answer.answer}</b></br>
<#else>
${answer.index} : ${answer.answer}</br>
</#if>
</#if>
</#list>
</p>&nbsp;</p>
</#list>
</div>
</body>
</html>