p { font-size: 12pt; }
body { font-family: Georgia, ‘Times New Roman’, serif; margin: 30px; } 
.center {
  text-align: center;
  border: 3px;
}
.title { font-size: 25pt; }
.subtitle { font-size: 16pt; }
.container {
    display: inline-block;
	width: 100%;
    height: 60px;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
}
.contents {
  display: inline-block;
  width: 300px;
  height: 100px;
  margin: 1em;
  text-align: left;
}

.instruction {
	margin: 10px;
	text-align: left;
    font-size: 12pt;
}

