p { font-size: 12pt; }
body { font-family: Georgia, ‘Times New Roman’, serif; margin: 30px; } 
.center {
  text-align: center;
  border: 3px;
}
.title { font-size: 25pt; }
.subtitle { font-size: 16pt; }
.container {
    width: 100%;
    height: 60px;
    margin: auto;
    padding: 10px;
}
.left {
    width: 50%;
    height: 100%;
    float: left;
    font-size: 14pt;
}
.right {
    width: 50%;
    height: 100%;
    float: right;
    font-size: 14pt;
}

.instruction {
	margin: 10px;
	text-align: left;
    font-size: 12pt;
}