---
name: ci_checks

on:

  pull_request:
    branches:
      - main

  push:
    branches:
      - main

jobs:

  ci:
    name: ci
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      packages: read

    steps:
    - name: Install xmllint
      run: sudo rm -f /var/lib/man-db/auto-update && sudo apt-get update && sudo apt-get install -y libxml2-utils

    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Cache Maven dependencies
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Check code formatting
      run: make check-format

    - name: Build the app
      run: make build

    - name: Authenticate to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Run integration tests
      run: make integration-tests

