---
name: ci_checks

on:

  pull_request:
    branches:
      - main

  push:
    branches:
      - main

jobs:

  ci:
    name: ci
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      packages: write
      security-events: write

    steps:
    - name: Install xmllint
      run: sudo rm -f /var/lib/man-db/auto-update && sudo apt-get update && sudo apt-get install -y libxml2-utils

    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Check code formatting
      run: make check-format

    - name: Run Maven compile
      run: mvn compile

